{{include_file name='public/header' title='导入项目'}}
{{$user_id = $project.user_id}}
<style>
    .bs-docs-section {
        margin-bottom: 60px;
    }
    .bs-dropzone {
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        color: #777;
        text-align: center;
        border: 2px dashed #eee;
        border-radius: 4px;
    }
    .bs-dropzone .import-header {
        margin-bottom: 5px;
    }
    .bs-dropzone .glyphicon-download-alt {
        font-size: 40px;
    }
    .bs-dropzone .lead {
        margin-bottom: 10px;
        font-weight: 400;
        color: #333;
    }
    #import-manual-trigger {
        cursor: pointer;
    }

</style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='user_sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>导入项目</h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div id="defaults-change-alert" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-fw fa-info-circle"></i>
                    导入的项目不能和已有项目重名，且只能导入项目的模块、接口以及字段，成员无法导入。
                </div>
                <div class="bs-docs-section bs-customizer-import">
                    <div id="import-drop-target" class="bs-dropzone">
                        <div class="import-header">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </div>
                        <p class="lead">有现成的配置？上传并导入你的 <code>config.json</code> 文件。</p>
                        <p>将文件拖拽到这里或<label id="import-manual-trigger" class="btn-link">手动上传<input type="file" id="import-file-select" class="hidden"></label>。</p>
                        <hr>
                        <p><strong>没有现成的配置文件？</strong>没关系，从下面开始自定义各字段吧。</p>
                    </div>
                    <div class="alert alert-danger">We can only read valid <code>.json</code> files. Please try again.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->




</div>
<!-- /#wrapper -->

<hr>
<p class="text-center">{{get_config('copyright')}}</p>

<script src="{{STATIC_URL}}/plugins/sortable/sortable.min.js"></script>

<script>
    $(function(){

        //control+se编辑
        document.onkeydown=function()   {
            if (event.ctrlKey == true && event.keyCode == 69) {//Ctrl+S
                event.returnvalue = false;
                $(".js_editProjectBtn").trigger('click');
            }

        };

        //移出项目
        $(".js_quitProjectBtn").click(function(event){
            // 阻止事件冒泡
            event.stopPropagation();

            var thisObj = $(this);

            var projectId = "{{$project.id}}";
            var userId    = thisObj.data('user_id');

            var url = "{{url('project/quit')}}";

            confirm('确认将该成员移出项目?', function(){

                $.post(url, { project_id:projectId,user_id:userId }, function(json){

                    if(json.code == 200){

                        alert(json.msg, 500, function () {
                            thisObj.closest('tr').remove();
                        });

                    }else{

                        alert(json.msg, 2000);

                    }

                }, 'json');
            });

        });

        // 修改项目
        $(document).delegate('.js_editProjectBtn', 'click',function(){
            var id = $(this).data('id');
            $('#page-wrapper').load("{{url('project/edit')}}", {'id':id});
        });

    });
</script>



{{include_file name='public/footer'}}