
{{include_file name='public/header' title='项目管理'}}
<style>
    body {
        background-color: #ffffff;
    }
    .container {
        min-height: 230px;
    }

</style>
</head>

<body>

<div class="container">
    <!-- /.row -->
    <div class="row">
        <form id="js_addVersionForm" role="form" action="{{url('version/add')}}" method="post">
            <input type="hidden" class="form-control" name="version_id" value="{{$version.id}}">
            <input type="hidden" class="form-control" name="project_id" value="{{$project.id}}">

            <div class="form-group">
                <label>当前项目</label>
                <input name="project_title" class="form-control" value="{{$project.title}}" placeholder="" datatype="" disabled>
            </div>

            <div class="form-group">
                <label for="recipient-name" class="control-label">版本号:</label>
                <div class="input-group url-box">
                    <span class="input-group-addon">version</span>
                    <input type="text" class="form-control" value="{{$version.name}}" name="name" placeholder="必填，只能由数字和.组成" datatype="*" nullmsg="请输入初始版本号" errormsg="版本号只能由数字和.组成"}>
                </div>
            </div>

            <div class="form-group">
                <label>复制于</label>
                <select class="form-control" name="user_id" data-live-search="true">
                    <option value="8">勾国印(314418388@qq.com)</option>
                    <option value="13">gourmet(gouguo@qq.com)</option>

                </select>
            </div>

            <input type="hidden" id="js_submit" value="提交">

        </form>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->

<script>

    $(function(){

        //验证表单
        $("#js_addVersionForm").validateForm({
            submitBtn: '#js_submit',
            before:function () {
                // iframe父级提交按钮禁用
                $('#js_addVersionForm', parent.document).find(".js_submit").attr("disabled", "disabled").text('提交中..');
            },
            success:function () {

                parent.$('#js_addVersionModal').modal('hide');

            },
            error:function () {
                // iframe父级提交按钮激活
                $('#js_addVersionForm', parent.document).find(".js_submit").text('重新提交').removeAttr("disabled");

            }
        });


    });


</script>

{{include_file name='public/footer'}}
