@charset "utf-8";
.bg-white {
	background-color:white;
}
.bg-grey {
	background-color:#F1F1F1;
}
.toggle {
	display:none;
}
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.fx1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.relative {
	position:relative;
}
.radius8 {
	-webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
    border-radius: 0.28444rem;
}
.text-l {
	text-align: left;
}
.text-c {
	text-align: center;
}
.text-r {
	text-align: right;
}
.font-org{
	color:#ff6428;
}
.font-gray{
	color:#999;
}
.font-pink {
	color: #ee6a56;
}
.font-green {
	color: #2abe44;
}
.font-bold{
	font-weight:bold;
}
.font-b {
	font-weight:bold;
}
.font24 {
	font-size: 0.85333rem;
}
.font26 {
	font-size: 0.92444rem;
}
.font28 {
	font-size: 0.99556rem;
}
.font32 {
	font-size: 1.13777778rem;
}
.plr20 {
	padding: 0 0.71111rem;
}
.pb20 {
	padding-bottom: 0.71111rem;
}
.pd20 {
	padding: 0.71111rem;
}
.pd28 {
	padding: 1rem;
}
.pt95{
	padding-top:3.37778rem;
}
.pt100{
	padding-top:3.55556rem;
}
.ml20 {
	margin-left: 0.71111rem;
}
.ml50 {
	margin-left: 1.77777778rem !important;
}
.mr20 {
	margin-right: 0.71111rem;
}
.mb0 {
	margin-bottom: 0;
}
.mb10 {
	margin-bottom: 0.35556rem;
}
.mb20 {
	margin-bottom: 0.71111111rem;
}
.mb30 {
	margin-bottom: 1.0666667rem;
}
.mb40 {
	margin-bottom: 1.42222rem;
}
.mb50 {
	margin-bottom: 1.77777778rem;
}
.mt0{
	margin-top:0 !important;
}
.mt20{
	margin-top:0.71111rem;
}
.mt30{
	margin-top:1.06667rem;
}
.mt50{
	margin-top:1.77778rem;
}
.mt85{
	margin-top:3.02222rem;
}
.u-go {
	display:inline-block;
	width: 0.35rem;
	height: 0.35rem;
	border-style: solid;
	border-color: #c2c2c2;
	border-width: 0.15rem 0.15rem 0 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	vertical-align:middle;
}
.u-go.white {
	border-color: #fff;
}
.u-del {
	display:block;
	font-style:normal;
	position: absolute;
	height: 100%;
	line-height: 100%;
	top: 0;
	right: -5.6rem;
	text-align: center;
	background: #ff3938;
	color: #fff;
	width: 5.6rem;
	font-size: 1.13777778rem;
	z-index: 1;
}

.input1{
	font-size: 1rem;
	width:100%;
	line-height:2.5rem;
	color: #333;
}
.input2{
	font-size: 1rem;
	width:96%;
	padding:0 2%;
	line-height: 3.128889rem;
	height: 3.128889rem;
	color: #333;
	border:solid 1px #ddd;
	-webkit-border-radius: 0.28444rem!important;
    -moz-border-radius: 0.28444rem!important;
    border-radius: 0.28444rem!important;
}
.textarea1{
	font-size: 1rem;
	width:100%;
	line-height:1.8rem;
	height:5.4rem;
	color: #483126;
	resize: none;
}
.textarea2{
	width:100%;
	font-size:0.99555556rem;
	margin-top:1.24rem;
	resize: none;
}
.btn1 {
	display:inline-block;
	width: 100%;
	height: 3.48444444rem;
	line-height: 3.48444444rem;
	background-color: #ffc741;
	border: none;
	font-size: 1.13778rem;
	background:#ffc741;
	color:#483126;
	text-align:center;
}
.btn1.round { 
	-webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
    border-radius: 0.28444rem;
}
.btn1:active {
	background-color: #FFB509;
}
.btn1.orange {
	background-color: #ff6428;
	color:#fff;
}
.btn1.orange:active {
	background-color: #FF4A06;
}
.btn1.grey {
	background-color: #ccc;
	color:#fff;
}
.btn1.grey:active {
	background-color: #ccc;
}
.btn1.s1 {
	width: 9.24444rem;
	height:3.12888889rem;
	line-height: 3.12888889rem;
}
.btn2 {
	display:inline-block;
	width: 100%;
	height: 2.56rem;
	line-height: 2.56rem;
	background-color: #ffc741;
	border: none;
	font-size: 1rem;
	background:#ffc741;
	color:#483126;
	text-align:center;
	-webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
    border-radius: 0.28444rem;
}
.btn2:active {
	background-color: #FFB509;
}
.btn2.orange {
	background-color: #ff6428;
	color:#fff;
}
.btn2.orange:active {
	background-color: #FF4A06;
}
.btn2.h1 {
	height:2.2rem;
	line-height: 2.2rem;
}
.getcode {
	font-size:1rem;
	color:#483126;
	background:#ffc741;
    -webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
	border-radius: 0.28444rem;
	width:6.4rem;
	height:2.20444rem;
	line-height:2.20444rem;
	text-align:center;
}
.getcode.grey {
	background:#DDD;
}
.table1 {
	width:100%;
	color:#483126;
	font-size:1rem;
	line-height:2.2rem;
}
.table1 th {
	background:#f1f1f1;
	padding:0.7rem 0.5rem;
	font-weight:normal;
}
.table1 td {
	text-align:center;
	background:#fff;
	padding:0.7rem 0.5rem;
}
input[class^="select-radio"] {
	display: none;
}
input[class^="select-radio"] + label {
	display:inline-block;
	min-width:3.6rem;
	height:2.06222rem;
	line-height:2.06222rem;
	padding:0 0.5rem;
	margin:0.2rem;
	border-radius:0.28444rem;
	border:1px solid #c2c2c2;
	color:#999999;
	text-align:center;
	font-size:0.92444rem;
	cursor: pointer;
}
input[class^="select-radio"] + label {
}
input[class^="select-radio"] + label:active {
	border:1px solid #ffc741;
	background:#ffc741;
	color:#483126;
}
input[class^="select-radio"]:checked + label {
	border:1px solid #ffc741;
	background:#ffc741;
	color:#483126;
}
input[class^="select-radio"] + label.active {
	border:1px solid #ffc741;
	background:#ffc741;
	color:#483126;
}
input[class^="select-radio"]:disabled + label {
	background:#f1f1f1;
	border:1px solid #c2c2c2;
}

input[class^="choice-radio"] {
	display: none;
}
input[class^="choice-radio"] + label {
	display:inline-block;
	width:1.28rem;
	height:1.28rem;
	border-radius:50%;
	border:1px solid #8A8A8A;
	vertical-align:middle;
}
input[class^="choice-radio"] + label {
}
input[class^="choice-radio"] + label::before, input[class^="choice-radio"] + label::after {
	display: inline-block;
	content: '';
	position: absolute;
	height: 0;
	width: 0.1rem;
	background-color: #fff;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input[class^="choice-radio"] + label::before {
	top: 0.98rem;
	left: 0.46rem;
	width: 0.12rem;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
input[class^="choice-radio"] + label::after {
	top: 0.73rem;
	left: 0.20rem;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
input[class^="choice-radio"] + label:active {
	border:1px solid #EC604A;
	background:#EE6A56;
}
input[class^="choice-radio"]:checked + label {
	border:1px solid #EC604A;
	background:#EE6A56;
	position: relative;
	
	
}
input[class^="choice-radio"]:checked + label::after,
input[class^="choice-radio"]:checked + label::after {
	height: 0.35rem;
}
input[class^="choice-radio"]:checked + label::before,
input[class^="choice-radio"]:checked + label::before {
	height: 0.9rem;
}
input[class^="choice-radio"]:disabled + label {
	background:#f1f1f1;
	border:1px solid #c2c2c2;
}

input[name="status"] {
	display: none;
}
input[name="status"] + label {
	cursor: pointer;
	font-size: 1em;
	width: 3.2rem;
	height: 3.2rem;
	display:inline-block;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
[id^="role-student"] + label {
	background-image: url(img/i-status.png);
	background-repeat: no-repeat;
	background-size:6.4rem 6.4rem;
	background-position:0 0;
}
[id^="role-student"]:checked + label {
	background-position: 0 -3.2rem;
}
[id^="role-worker"] + label {
	background-image: url(img/i-status.png);
	background-repeat: no-repeat;
	background-size:6.4rem 6.4rem;
	background-position:-3.2rem 0;
}
[id^="role-worker"]:checked + label {
	background-position: -3.2rem -3.2rem;
}

/*checkbox*/
input[name=check-box] {
  display: none;
}
.check-box {
	display:inline-block;
	vertical-align:middle;
	height: 1.28rem;
	width: 1.28rem;
	background-color: transparent;
	border:1px solid #483126;
	border-radius:0.28444rem;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.check-box::before, .check-box::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	height: 0;
	width: 0.1rem;
	background-color: #3F271B;
	display: inline-block;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	content: ' ';
}
.check-box::before {
	top: 0.93rem;
	left: 0.43rem;
	width: 0.12rem;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.check-box::after {
	top: 0.68rem;
	left: 0.17rem;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
input[type=checkbox]:checked + .check-box,
.check-box.checked {
	border-color: #3F271B;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
	height: 0.35rem;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
	height: 0.9rem;
}
/*绿背景*/
.checkboxOne input[type=checkbox] {
	visibility: hidden;
}
.checkboxOne {
	width: 3.62666667rem;
	height: 2.31111111rem;
	position: relative;
	display: inline-block;
	top:0.7rem;
}
.checkboxOne label {
	display: inline-block;
	width: 3.62666667rem;
	height: 2.31111111rem;
	background:url(img/i-add-default.png) 0 0 no-repeat;
	background-size:3.62666667rem 2.31111111rem;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.checkboxOne input[type=checkbox]:checked + label {
	background-image:url(img/i-add-default-checked.png);
}

/**/
.num-add{ height:2.26222rem;}
.num-add span{display:inline-block;width:2.06222rem;height:2.06222rem;line-height:2.06222rem;overflow:hidden;border:solid 1px #c2c2c2; color:#999; font-size:1.6rem; text-align:center;border-radius:0.28444rem;margin:0.2rem;position:relative;}
.num-add span:active{border:solid 1px #ffc741; color:#342022;background-color:#ffc741;}
.num-add .reduce:active:before{background-color:#382423;}
.num-add .add:active:before{background-color:#382423;}
.num-add .add:active:after{background-color:#382423;}
.num-add .quantity{display:inline-block;margin:0.2rem;width:2.06222rem;height:2.06222rem;line-height:2.06222rem;font-size: 1.49333rem;color:#342022; text-align:center; vertical-align:top;border:solid 1px #fff;}
.num-add .reduce:before {
	content:"";
	width:1.42222222rem;
	height:0.14222222rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.71111111rem;
	margin-top:-0.07111111rem;
	background-color:#C1C1C1;
    -webkit-border-radius: 0.07111111rem;
    -moz-border-radius: 0.07111111rem;
    border-radius: 0.07111111rem;
}
.num-add .add:before {
	content:"";
	width:1.28rem;
	height:0.14222222rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.64rem;
	margin-top:-0.07111111rem;
	background-color:#C1C1C1;
    -webkit-border-radius: 0.07111111rem;
    -moz-border-radius: 0.07111111rem;
    border-radius: 0.07111111rem;
}
.num-add .add:after {
	content:"";
	height:1.28rem;
	width:0.14222222rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.07111111rem;
	margin-top:-0.64rem;
	background-color:#C1C1C1;
    -webkit-border-radius: 0.07111111rem;
    -moz-border-radius: 0.07111111rem;
    border-radius: 0.07111111rem;
}


/*倒计时*/
.time-item{
	color:#361D11;
	line-height:1.84889rem;
	font-weight:bold;
	font-size: 1.4rem;
	display:inline-block;
}
.time-item span{
	display:inline-block;
	width:1.84889rem;
	height:1.84889rem;
	line-height:1.84889rem;
	text-align:center;
	color:#fff;
	font-size: 1.13777778rem;
	background-color:#ee6a56;
    -webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
	border-radius: 0.28444rem;
}

/*星星打分*/
.level-list li{line-height:1.6rem;height:1.6rem; margin:0.8rem 0.5rem ;}
.level-list li .level-dt{ color:#999; font-size:1rem;display:block;float:left;width:5.6rem;}
.level-list li.tot *{ color:#483126; font-size:1.13778rem;}
.level-dd{float:left;display:inline;}
.level-star i {float:left;background-image:url("img/i-level.png");background-repeat:no-repeat; background-size:3.2rem 1.6rem;display:inline-block;width:1.6rem;height:1.6rem; margin-right:1.2rem;background-position:0rem 0;}
.level-star i.on{background-position:-1.6rem 0;}
.level-score {margin-left:1rem;}

/*交易密码*/
.pwd-box {
	width: 16.8rem;
	padding-left: 1px;
	position: relative;
	border: 1px solid #ddd;
	-webkit-border-radius: 0.28444rem;
	-moz-border-radius: 0.28444rem;
	border-radius: 0.28444rem;
	overflow:hidden;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
}
.pwd-box .pwd-input {
	width: 99%;
	height: 2.48889rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: none;
	font-size: 2.5rem;
	opacity: 0;
	z-index: 1;
	letter-spacing: 2.06222rem;
}
.fake-box input {
	display:inline-block;
	width: 2.48889rem;
	height: 3rem;
	border: none;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	font-size: 2.5rem;
}
.fake-box input:last-child {
	border: none;
	-webkit-border-radius: 0.28444rem;
	-moz-border-radius: 0.28444rem;
	border-radius: 0.28444rem;
}
