/*----------- iconfont ---------------*/
@font-face {font-family: "iconfont";
  src: url('h5_v1_css/font/iconfont.eot?t=1488422159134'); /* IE9*/
  src: url('h5_v1_css/font/iconfont.eot?t=1488422159134#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('h5_v1_css/font/iconfont.woff?t=1488422159134') format('woff'), /* chrome, firefox */
  url('h5_v1_css/font/iconfont.ttf?t=1488422159134') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('h5_v1_css/font/iconfont.svg?t=1488422159134#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont { font-family:"iconfont" !important; font-size:16px; font-style:normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-daishouhuo:before { content: "\e61e"; }
.icon-daiqianyue:before { content: "\e61f"; }
.icon-daizhifu:before { content: "\e620"; }
.icon-aiqiyi:before { content: "\e621"; }
.icon-dididachequan:before { content: "\e622"; }
.icon-fanhui:before { content: "\e623"; }
.icon-guanbi:before { content: "\e624"; }
.icon-huafeichongzhi:before { content: "\e625"; }
.icon-jiantou:before { content: "\e626"; }
.icon-jiayouqia:before { content: "\e627"; }
.icon-jingdongEqia:before { content: "\e628"; }
.icon-suishoujie:before { content: "\e629"; }
.icon-weixuanzhong:before { content: "\e62a"; }
.icon-tengxunQbi:before { content: "\e62b"; }
.icon-wodezhangdan:before { content: "\e62c"; }
.icon-xuanzhong:before { content: "\e62d"; }
.icon-xiaoxi:before { content: "\e62e"; }
.icon-daipingjia:before { content: "\e62f"; }
.icon-dizhi:before { content: "\e630"; }
.icon-like:before { content: "\e631"; }
.icon-like_fill:before { content: "\e632"; }
.icon-biaoqianlan-0:before { content: "\e633"; }
.icon-biaoqianlan-1:before { content: "\e634"; }
.icon-biaoqianlan-2:before { content: "\e635"; }
.icon-biaoqianlan-3:before { content: "\e636"; }
.icon-biaoqianlan-4:before { content: "\e637"; }
.icon-biaoqianlan-5:before { content: "\e638"; }
.icon-biaoqianlan-6:before { content: "\e639"; }
.icon-biaoqianlan-7:before { content: "\e63a"; }
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size:0.85rem;
	line-height: normal;
	color: #555;
	background-color: #F1F1F1;
	font-family:"Helvetica Neue",Helvetica,sans-serif,"Microsoft YaHei";
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	max-width:768px;
	margin:0 auto;
}
.clear {
	font-size: 0px;
	clear: both;
	line-height: 0px;
	height: 1px;
}
.clearfix:after {	
	content: "";	
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
}
img {
	border: none;
	max-width: 100%;
	max-height: 100%;
	height: auto;
    /*margin-top: 25px;*/
	vertical-align: middle;
}
ul,li,ol {
	list-style-type: none;
}
input,textarea,button {
	border:none;
	outline:none;
}
select {
	background-color:transparent;
}
input[type="text"],input[type="password"],input[type="tel"],input[type="button"]{
	-webkit-appearance:none;
	appearance:none;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	border-radius:0;
}
a {
	TEXT-DECORATION: none;
	color: #555;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
p {
	margin-bottom: 0.5rem;
}
table {
	border-collapse: collapse;
}
/*-----------------------------------------*/
.header {
	width:100%;
	height: 3.12889rem;
	line-height: 3.12889rem;
	background-color:#ffc741;
	color:#483126;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size:1.28rem;
	max-width:768px;
	margin:0 auto;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:100;
}
.header.white {
	background-color: #fff;
	color:#333;
	border-bottom: solid 1px #ddd;
}
.header a {
	color:#483126;
}
.header h2 {
	width:100%;
	font-size: 1.28rem;
	text-align: center;
	font-weight: normal;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
	margin-left:4rem;
	margin-right:4rem;
}
.header .head-text {
	display:inline-block;
	padding:0 0.8rem;
}
.header .head-right {
	display:inline-block;
	position: absolute;
	right: 1rem;
	top: 0;
	font-size: 1rem;
}
.header .head-scan {
	padding:0.746665rem 0.8rem 0.746665rem 1rem;
}
.header .head-search {
	display:block;
	height:2.3467rem;
	border:1px solid #483126;
	border-radius:0.28444rem;
	background-color:#FFF;
	margin-top:0.36rem;
	position:relative;
}
.header .head-search input {
	background-color: transparent;
	border: none;
	height:2.3467rem;
	width: 88%;
	z-index: 1;
	padding-right: 2%;
	padding-left: 10%;
	position: absolute;
	left: 0;
	top: 0;
	font-size:1rem;
	color:#333;
}
.header .head-search span {
	display:inline-block;
	line-height:2.3467rem;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left:-3.6rem;
	color: #999;
	font-size:0.92444rem;
}
.header .head-search .i-search {
	position: absolute;
	left: 50%;
	top: 0.55113rem;
	margin-left:-5rem;
	z-index: 2;
}
.header .head-search.left {
	margin-left: 0.8rem;
}
.header .head-search.left .i-search {
	left: 0.8rem;
	margin-left:0;
}
.header .i-add {
	position:relative;
	right: 1.6rem;
	top: 0;
}
.header .i-add:before {
	content:"";
	width:1.28rem;
	height:0.14222222rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.64rem;
	margin-top:-0.07111111rem;
	background-color:#483126;
    -webkit-border-radius: 0.07111111rem;
    -moz-border-radius: 0.07111111rem;
    border-radius: 0.07111111rem;
}
.header .i-add:after {
	content:"";
	height:1.28rem;
	width:0.14222222rem;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-0.07111111rem;
	margin-top:-0.64rem;
	background-color:#483126;
    -webkit-border-radius: 0.07111111rem;
    -moz-border-radius: 0.07111111rem;
    border-radius: 0.07111111rem;
}
.header .i-back {
	width: 0.8rem;
	height: 0.8rem;
	border-style: solid;
	border-color: #483126;
	border-width: 0.15rem 0.15rem 0 0;
	transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	position: absolute;
	left: 1.2rem;
	top: 1.1rem;
}
.header .i-calendar {
	position:absolute;
	left:0.8rem;
	top:50%;
	margin-top:-0.8rem;
}
.header .i-set {
	position:absolute;
	right:3rem;
	top:50%;
	margin-top:-0.8rem;
}
.header .i-message {
	position:absolute;
	right:0.8rem;
	top:50%;
	margin-top:-0.8rem;
}
.nav {
	background-color:#fff;
	padding:0.5rem 3%;
	border-bottom:solid 1px #E4E4E4;
}
.nav li {
	float: left;
	width: 25%;
	text-align: center;
	color:#483126;
	padding-top: 0.6rem;
	padding-bottom: 0.3rem;
}
.nav li a {
	display:block;
	color:#483126;
}
.menu {
	background-color:#fff;
	border-top:solid 1px #C0C0C0;
}
.menu li {
	float: left;
	width: 25%;
	text-align: center;
	color:#000;
	line-height:0.92rem;
}
.menu li a {
	display:block;
	color:#999;
	padding-top:0.6rem;
	height:3.18444rem;
}
.menu li.on a i,.menu li.on a em {
	color:#ff8200;
}
.footer {
	height:3.48444rem;
	width:100%;
	max-width:768px;
	margin:0 auto;
	max-width:768px;
	margin:0 auto;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:101;
}
.content {
	position: relative;
    top: 3.12889rem;
	padding-bottom:3.48444rem;
	max-width:768px;
	margin-left:auto;
	margin-right:auto;
}
.main {
	position: relative;
    top: 3.12889rem;
	max-width:768px;
	margin-left:auto;
	margin-right:auto;
}
.wrap {
	max-width:768px;
	margin-left:auto;
	margin-right:auto;
}
/*.top-news {
	margin-bottom:0.64rem;
}
.top-news img {
	width:100%;
	height:auto;
}*/
.top-news {
	background:#fff;
	border:1px solid #e4e4e4;
	border-radius:0.28444rem;
	height:2.77333rem;
	line-height:2.77333rem;
	padding:0 0.8rem;
	font-size: 1.28rem;
	color:#483126;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	overflow:hidden;
	margin-bottom:0.64rem;
}
.top-news h3 {
	display: inline-block;
	background-image: url(img/top-news.png);
	background-repeat: no-repeat;
	width:6.4rem;
	height:1.49333rem;
	margin-right:0.2rem;
	margin-top:0.64rem;
	background-size:100% 100%;
	vertical-align:middle;	
}
.top-news #scrollWrap{height: 2.77333rem;overflow:hidden;}
.top-news #scrollMsg li{height: 2.77333rem;;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;} 
.top-box {
	padding:0.7rem;
	background:#fff;
	border:1px solid #e4e4e4;
	border-radius:0.28444rem;
	margin-bottom:0.64rem;
}
.top-title {
	font-size: 1.20889rem;
	line-height:1.3rem;
	height:1.3rem;
	padding-left:0.7rem;
	margin-bottom:0.85rem;
	color:#483126;
	position:relative;
}
.top-title:before {
	content:"";
	background:#ffc741;
	border-radius:0.14222rem;
	width:0.28444rem;
	height:1.3rem;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
}
.top-title .more {
	font-weight:normal;
	float:right;
}
.top-limited {
	margin:0 -2%;
}
.top-limited li {
	float:left;
	width:46%;
	/*height:7.11111rem;*/
	margin:0 2%;
	position:relative;
}
.top-limited li img {
	width:100%;
	height:auto;
	background-color:#F8F8F8;
}
.top-limited h4 { 
	background:rgba(238,106,86,0.90);
	height:1.42222rem;
	line-height:1.42222rem;
	padding:0 5%;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	color:#fff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;	
}
.top-limited .title { 
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
.top-act li {
	float:left;
}
.top-act li img {
	width:100%;
	height:100%;
}
.top-act li.one {
	width:11.37777778rem;
	height:10.666667rem;
	margin-right:0.55rem;
}
.top-act li.two {
	width:11.73333rem;
	height:4.977778rem;
	margin-bottom:0.74rem;
}
.top-act li.three {
	width:5.51111rem;
	height:4.977778rem;
	margin-right:0.7rem;
}
.top-act li.four {
	width:5.51111rem;
	height:4.977778rem;
}
.top-ad {
	border-radius:0.28444rem;
	margin-bottom:0.64rem;
}
.top-ad img {
	width:100%;
	border-radius:0.28444rem;
}
.top-list {
	margin:0 -1%;
}
.top-list li {
	float:left;
	width:30.33%;
	/*height:9rem;*/
	margin:0 1.5%;
	position:relative;
	font-weight:bold;
}
.top-list li img {
	width: auto;
	height:5.88rem;
	background-color:#F8F8F8;
}
.top-list li p {
	text-align:center;
	background-color:#F8F8F8;
}
.top-list li a {
	display:block;
	/*height:9rem;*/
}
.top-list li h4 {
	color:#000;
	font-size:1.1rem;
	margin-bottom:0.15rem;
	text-overflow:ellipsis; 
	white-space:nowrap;
	overflow:hidden;
}
.top-list li .small {
	font-size:0.75rem;
}
.login-form {
	margin-top: 0.71111rem;
	background-color:#fff;
	margin-bottom:1.5rem;
}
.login-form li {
	border-bottom:solid 1px #e4e4e4;
	height:2.5rem;
	line-height:2.5rem;
	padding:0.5rem 1.13rem;
	position:relative;
}
.login-form li .input1{
	width:86%;
	margin-left:7%;
	margin-right:7%;
}
.login-form li .i-logname{
	position: absolute;
	top:50%;
	left:1.13rem;
	margin-top:-0.62222222rem;
	z-index:1;
}
.login-form li .i-logpw{
	position: absolute;
	top:50%;
	left:1.17rem;
	margin-top:-0.65777778rem;
	z-index:1;
}
.login-form li .i-logdel{
	position: absolute;
	top:50%;
	right:1.35rem;
	margin-top:-0.533333335rem;
	z-index:1;
}
.login-form li .i-logsee{
	position: absolute;
	top:50%;
	/*right:1.13rem;*/
	right:0.63rem;
	/*margin-top:-0.56888889rem;*/
	margin-top:-1.16888889rem;
	z-index:1;
}
.login-status {
	text-align:center;
}
.login-status li {
	display:inline-block;
	text-align:center;
	margin:0 1rem;
	color:#999;
}
.login-status li input {
	margin-bottom:1rem;
}
.register-form {
	padding-top: 0.71111rem;
	padding-left: 0.71111111rem;
	padding-right: 0.71111111rem;
}
.register-form li {
	margin-bottom: 0.71111111rem;
	border:1px solid #e4e4e4;
	background-color:#fff;
	line-height:2.5rem;
	min-height:2.5rem;
	padding:0.5rem 1.13rem;
	-webkit-border-radius: 0.28444rem;
    -moz-border-radius: 0.28444rem;
    border-radius: 0.28444rem;
	position:relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.register-form li .input1 {
	color:#999;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.register-form li .input1::-webkit-input-placeholder {
color: #999;
}
.register-form li .input1 :-moz-placeholder {
color: #999;
}
.register-form li .input1 ::-moz-placeholder {
color: #999;
}
.register-form li .input1 :-ms-input-placeholder {
color: #999;
}
.register-form li .getcode {
	margin-top:0.14778rem;
}
.register-form li .i-logsee {
	/*margin-top:0.68111111rem;*/
	margin-top:0.18111111rem;
	margin-right:-0.5rem;
}


.register-status {
	width:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.register-status dt {
	line-height:4.76444444rem;
	color:#999;
	font-size:1rem;
}
.register-status dd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align:right;
	color:#999;
	line-height:normal;
}
.register-status dd span {
	display:inline-block;
	text-align:center;
	margin:0 1rem;
}
.register-status dd input {
	margin-bottom:1rem;
}
.register-jubao {
	margin:4rem auto 1.56444rem auto;
	width:8.53333rem;
	height:12.01778rem;
	background-image:url(img/jubao.png);
	background-repeat:no-repeat;
	background-size:8.53333rem 12.01778rem;
}
.register-title {
	font-size:1.70667rem;
	color:#483126;
	margin-bottom:0.85rem;
	text-indent:0.8rem;
}
.register-text {
	font-size:1.13778rem;
	color:#483126;
	margin-bottom:1.2rem;
}
.filter-title{
	position:fixed;
	width:100%;
	left:0;
	right:0;
	top:3.12889rem;
	background:#fff;
	height:3.34222rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width:768px;
	margin:0 auto;
	z-index:99;
}
.filter-title li{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 0.92444rem;
	line-height:3.12889rem;
	text-align:center;
}
.filter-title li span{
	display:inline-block;
}
.filter-title li.on span{
	border-bottom:0.21333rem solid #ffc741;
	font-size:1.1rem;
	font-weight:bold;
}
.i-logname {
	display:inline-block;
	background-image:url(img/i-logname.png);
	background-repeat:no-repeat;
	background-size:1.13777778rem 1.24444444rem;
	background-position:0 0;
	width:1.13777778rem;
	height:1.24444444rem;
}
.i-logpw {
	display:inline-block;
	background-image:url(img/i-logpw.png);
	background-repeat:no-repeat;
	background-size:1.03111111rem 1.31555556rem;
	background-position:0 0;
	width:1.03111111rem;
	height:1.31555556rem;
}
.i-logdel {
	display:inline-block;
	background-image:url(img/i-logdel.png);
	background-repeat:no-repeat;
	background-size:1.06666667rem 1.06666667rem;
	background-position:0 0;
	width:1.06666667rem;
	height:1.06666667rem;
}
.i-logsee {
	display:inline-block;
	background-image:url(img/i-logsee.png);
	background-repeat:no-repeat;
	background-size:1.49333333rem 1.13777778rem;
	background-position:0.5rem 0.5rem;
	width:1.49333333rem;
	height:1.13777778rem;
	padding:0.5rem;
}
.i-logsee.no {
	display:inline-block;
	background-image:url(img/i-logsee-no.png);
	background-repeat:no-repeat;
	background-size:1.49333333rem 1.13777778rem;
	background-position:0.5rem 0.5rem;
	width:1.49333333rem;
	height:1.13777778rem;
}
/**/
.i-scan {
	display: inline-block;
	background-image: url(img/i-scan.png);
	background-repeat: no-repeat;
	width:1.63556rem;
	height:1.63556rem;
	background-size:100% 100%;
	vertical-align: top;
}
.i-search {
	display: inline-block;
	background-image: url(img/i-search.png);
	background-repeat: no-repeat;
	width:1rem;
	height:1.24444rem;
	background-size:100% 100%;
	vertical-align: top;
}
.i-nav {
	display: inline-block;
	background-image: url(img/i-nav.png);
	background-repeat: no-repeat;
	background-size: 38.4rem 2.84rem;
	width:3.2rem;
	height:2.84rem;
}
.i-nav.i-digital {
	background-position: 0 0;
}
.i-nav.i-education {
	background-position: -3.2rem 0;
}
.i-nav.i-luxury {
	background-position: -6.4rem 0;
}
.i-nav.i-ticket {
	background-position: -9.6rem 0;
}
.i-nav.i-decoration {
	background-position: -12.8rem 0;
}
.i-nav.i-marriage {
	background-position: -16rem 0;
}
.i-nav.i-pocket {
	background-position: -19.2rem 0;
}
.i-nav.i-rent {
	background-position: -22.4rem 0;
}
.i-nav.i-phone {
	background-position: -25.6rem 0;
}
.i-nav.i-computer {
	background-position: -28.8rem 0;
}
.i-nav.i-free {
	background-position: -32rem 0;
}
.i-nav.i-accesso {
	background-position: -35.2rem 0;
}
.i-menu {
	display: inline-block;
	background-image: url(img/i-menu.png);
	background-repeat: no-repeat;
	/*background-size: 8.53332rem 3.69778rem;*/
	background-size: 10.66667rem 3.69778rem;
	width:2.13333rem;
	height:1.84889rem;
}
.menu li a i,.menu li a em{ display: block; padding: 0.1rem 0; font-size: 1.12rem; color: #999; font-style: normal; }
.menu li a em{ padding-top: .2rem; font-size: .84rem; }
.i-menu.i-home {
	background-position: 0 0;
}
.i-menu.i-classify {
	background-position: -2.13333rem 0;
}
/*.i-menu.i-pocket {
	background-position: -4.26666rem 0;
}*/
.i-menu.i-free {
	background-position: -4.26666rem 0;
}
.i-menu.i-user {
	background-position: -6.39999rem 0;
}
.i-menu.i-ious {
	background-position: -8.53333rem 0;
}
.menu li.on .i-menu.i-home {
	background-position: 0 -1.84889rem;
}
.menu li.on .i-menu.i-classify {
	background-position: -2.13333rem -1.84889rem;
}
/*.menu li.on .i-menu.i-pocket {
	background-position: -4.26666rem -1.84889rem;
}*/
.menu li.on .i-menu.i-free {
	background-position: -4.26666rem -1.84889rem;
}
.menu li.on .i-menu.i-user {
	background-position: -6.39999rem -1.84889rem;
}
.menu li.on .i-menu.i-ious {
	background-position: -8.53333rem -1.84889rem;
}
.highIronPipe{
	width: 100%;
	height: auto;
	margin-bottom: 0.71111111rem;
}
/*ios fixed位移*/
/*.ios-fixed{
	position:absolute; 
	min-width:100%;
	height:100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}*/