
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">

            <li>
                <a href="{{url('project/search')}}"><i class="fa fa-search fa-fw"></i> 搜索项目</a>
            </li>

            <li>
                <a href="{{url('project/notice')}}"><i class="fa fa-bell-o fa-fw"></i> 申请通知</a>
            </li>

            <li>
                <a href="{{url('login/history')}}"><i class="fa fa-history fa-fw"></i> 登录历史</a>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>