{{include_file name='public/header' title='数据库备份/还原'}}
<style>
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
</style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>数据库备份 </h1>
                    <div class="opt-btn">
                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-warning js_exportProjectBtn" data-toggle="tooltip" title="" data-placement="bottom" data-id="26">备份</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="panel panel-default">

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>文件大小</th>
                                <th>文件名</th>
                                <th>备份时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{foreach $tables as $table}}

                            <tr>
                                <td>1</td>
                                <td>database.sql</td>
                                <td>1M</td>
                                <td>2017-09-21 23:00:00</td>
                                <td>@mdo</td>
                            </tr>

                            {{/foreach}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <hr>
    <p class="text-center">{{get_config('copyright')}}</p>
    {{include_file name='public/footer'}}
