{{include_file name='public/header' title='系统设置'}}
<link href="{{STATIC_URL}}/plugs/uploadview/style.css" type="text/css" rel="stylesheet" />

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">系统设置</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" id="js_settingForm" action="{{url('admin/setting')}}" method="post" enctype="multipart/form-data" >
                                    <div class="form-group">
                                        <label>网站名称</label>
                                        <input class="form-control" name="config[name]" value="{{$config['name']}}" placeholder="必填，至少2位" datatype="*2-250" nullmsg="请输入网站名称！">
                                    </div>

                                    <div class="form-group">
                                        <label>网站关键字</label>
                                        <input class="form-control" name="config[keywords]" value="{{$config['keywords']}}" placeholder="" ignore="ignore" datatype="*">
                                    </div>

                                    <div class="form-group">
                                        <label>网站描述</label>
                                        <textarea class="form-control" name="config[description]" rows="3" ignore="ignore" datatype="*" nullmsg="请输入版权信息！">{{$config['description']}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>版权信息</label>
                                        <input class="form-control" name="config[copyright]" value="{{$config['copyright']}}" placeholder="" ignore="ignore" datatype="*">
                                    </div>

                                    <div class="form-group">
                                        <label>公司地址</label>
                                        <input class="form-control" name="config[address]" value="{{$config['address']}}" placeholder="公司地址"  datatype="*">
                                    </div>

                                    <div class="form-group">
                                        <label>服务时间</label>
                                        <input class="form-control" name="config[kefu_time]" value="{{$config['kefu_time']}}" placeholder="客服时间，非必填" datatype="*" ignore="ignore">
                                    </div>

                                    <div class="form-group">
                                        <label>咨询固话</label>
                                        <input class="form-control" name="config[kefu_tel]" value="{{$config['kefu_tel']}}" placeholder="固话，非必填" datatype="*" ignore="ignore">
                                    </div>

                                    <div class="form-group">
                                        <label>咨询手机</label>
                                        <input class="form-control" name="config[kefu_phone]" value="{{$config['kefu_phone']}}" placeholder="手机号，非必填" datatype="m" ignore="ignore">
                                    </div>

                                    <div class="form-group">
                                        <label>咨询QQ</label>
                                        <input class="form-control" name="config[kefu_qq]" value="{{$config['kefu_qq']}}" placeholder="咨询QQ号码，非必填" datatype="n" ignore="ignore">
                                    </div>

                                    <div class="form-group">
                                        <label>官方微信</label>
                                        <input class="form-control" name="config[kefu_weixin]" value="{{$config['kefu_weixin']}}" placeholder="官方微信号，非必填" datatype="n" ignore="ignore">
                                    </div>

                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">微信二维码:<span class="text-danger">(上传尺寸150px*150px)</span></label>
                                        <div class="control-group js_uploadBox">
                                            <div class="btn-upload">
                                                <a href="javascript:void(0);"><i class="icon-upload"></i><span class="js_uploadText">上传</span>图片</a>
                                                <input class="js_upFile" type="file" name="kefu_qrcode">
                                            </div>

                                            <div class="js_showBox {{if !$config['kefu_qrcode']}}hidden{{/if}}"><img class="js_logoBox" src="{{$config['kefu_qrcode']}}" width="100px" ></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>官方微博</label>
                                        <input class="form-control" name="config[kefu_weibo]" value="{{$config['kefu_weibo']}}" placeholder="官方微博地址，非必填" datatype="url" ignore="ignore">
                                    </div>

                                    <button type="submit" class="btn btn-primary js_submit">提交</button>

                                </form>

                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <hr>
    <p class="text-center">{{get_config('copyright')}}</p>
    <script src="{{STATIC_URL}}/plugs/uploadview/js.js"></script>
    <!-- /#wrapper -->
    <script>

        $(function(){

            $(".js_upFile").uploadView({
                uploadBox: '.js_uploadBox',//设置上传框容器
                showBox : '.js_showBox',//设置显示预览图片的容器
                width : 100, //预览图片的宽度，单位px
                height : 100, //预览图片的高度，单位px
                allowType: ["gif", "jpeg", "jpg", "bmp", "png"], //允许上传图片的类型
                maxSize :2, //允许上传图片的最大尺寸，单位M
                success:function(e){
                    $(".js_uploadText").text('更改');
                    //alert('图片上传成功');
                }
            });

            //表单合法性验证
            $("#js_settingForm").Validform({

                tiptype:function(msg,o,cssctl){

                    if(!o.obj.is("form")){

                        var objtip=o.obj.siblings(".Validform_checktip");

                        cssctl(objtip,o.type);

                        objtip.text(msg);

                    }

                },

                label:"label",

                ajaxPost:false,

            });

        });
    </script>


    {{include_file name='public/footer'}}
