{{include_file name='public/header' title='项目主页'}}
{{$user_id = $project.user_id}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='project_sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目主页 </h1>
                    <div class="opt-btn">

                        <a class="btn btn-sm btn-warning hidden-xs" data-toggle="tooltip" title='kkk' data-placement="bottom" data-id="{{$project.id}}" href="javascript:void(0);"><i class="fa fa-fw fa-file-pdf-o"></i>导出PDF</a>
                        <a class="btn btn-sm btn-success hidden-xs" data-toggle="tooltip" data-placement="bottom" data-id="{{$project.id}}" href="javascript:void(0);"><i class="fa fa-fw fa-file-excel-o"></i>导出HTML</a>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        基本信息
                    </div>
                    <div class="panel-body">
                        <p class="text-muted"><label>项目名称：</label>{{$project.title}}</p>
                        <p class="text-muted"><label>项目创建人：</label>{{_uri('user', $user_id, 'name')}}({{_uri('user', $user_id, 'email')}}）</p>
                        <p class="text-muted"><label>创建时间：</label>{{$project.add_time}}</p>
                        <p class="text-muted"><label>项目描述：</label><span style="word-break:break-all">{{$project.intro}}</span></p>

                        {{foreach $envs as $env_name => $env_domain}}
                        <p class="text-muted"><label>{{$env_name}}：</label>{{$env_domain}}/{{$project['version']['name']}}</p>
                        {{/foreach}}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        参与成员
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>成员昵称</th>
                                    <th>成员邮箱</th>
                                    <th>加入时间</th>
                                    <th>操作面板</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $members as $member}}
                                {{$user_id = $member.user_id}}
                                <tr>
                                    <td>{{_uri('user', $user_id, 'name')}}</td>
                                    <td>{{_uri('user', $user_id, 'email')}}</td>
                                    <td>{{$member.add_time}}</td>
                                    <td>

                                        <button type="button" class="btn btn-xs btn-danger js_quitProjectBtn" data-project_id="{{$project.id}}" data-user_id="{{$user_id}}">移出项目</button>

                                    </td>
                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <!-- /#page-wrapper -->




</div>
<!-- /#wrapper -->

<script src="{{STATIC_URL}}/plugins/sortable/sortable.min.js"></script>

<script>
    $(function(){

        //移出项目
        $(".js_quitProjectBtn").click(function(event){
            // 阻止事件冒泡
            event.stopPropagation();

            var projectId = $(this).data('project_id');
            var userId    = $(this).data('user_id');

            var url = "{{url('project/quit')}}?id=" + projectId;

            confirm('确认将该成员移出项目?', function(){

                $.post(url, { project_id:projectId,user_id:userId }, function(json){

                    if(json.code == 200){

                        alert(json.msg, 500, function () {
                            window.location.reload();
                        });

                    }else{

                        alert(json.msg, 2000);

                    }

                }, 'json');
            });

        });

    });
</script>



{{include_file name='public/footer'}}