
    {{$notifys = \app\notify::get_notify_list()}}
    {{if $notifys}}
    <ul class="dropdown-menu dropdown-alerts">
        {{foreach $notifys as $notify}}
        <li>
            <a href="javascript:void(0);">
            <div>
                <i class="fa fa-comment fa-fw"></i>
                <span class="alert-link">{{$notify.user_name}}</span>
                {{$notify.option_title}}
                <span class="alert-link">{{$notify.res_title}}</span>
                <span class="pull-right text-muted small">{{$notify.pass_time}}</span>
            </div>
            </a>
        </li>
        <li class="divider"></li>
        {{/foreach}}

        <li>
            <div class="text-center">
                <button type="button" class="btn btn-warning js_cleanNotify">清空</button>
            </div>
        </li>
    </ul>

    {{/if}}
