{{include_file name='public/header' title="{{$info.title}}"}}

<link rel="stylesheet" href="{{STATIC_URL}}/css/case-detail.css">
<!-- main -->
<div class="container" id="container">
    {{include_file name='public/position'}}
    <div class="content clx">
        <div class="content-left" style="opacity: 1;">
            {{$info.content}}
        </div>
        <div class="content-right" style="position: static; z-index: 999; width: 310px;">
            <h2>{{$info.title}}</h2>

            <div class="case-desc-overflow">
                <p class="content-text">
                    <span class="case-desc-text">
                        {{$info.intro}}
                    </span>
                </p>
            </div>

            {{include_file name='public/sidebar' type='手机扫一扫 分享该案例'}}
        </div>
    </div>
    </div>
<!-- footer -->


{{include_file name='public/footer'}}