{{include_file name='public/header' title="9999{{get_config('name')}}-{{get_config('description')}}"}}

<link rel="stylesheet" href="{{STATIC_URL}}/css/home.css">

<link charset="utf-8" rel="stylesheet" href="{{STATIC_URL}}/css/swiper.min.css">

<div class="banner" id="banner">
    <div class="swiper-container swiper-container-horizontal swiper-container-fade">
        <div class="swiper-wrapper" style="transition-duration: 0ms;">
            {{foreach \app\focus::get_focus_list() as $focus}}
            <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1280px; height: 500px;transform: translate3d(-1280px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
                <a href="" target="_blank">
                    <img src="{{$focus.src}}" alt="{{$focus.title}}" width="1920" height="500">
                </a>
            </div>
            {{/foreach}}

        </div>

        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span>
        </div>

    </div>
</div>
<!-- main -->
<div class="main w" id="main">
    <!-- recommend -->
    <ul class="recommend-list clx">
        {{foreach $services as $service}}
        <li class="recommend-cell">
            <a href="javascript:void(0);" target="_blank">
                <div class="recommend-nest">
                    <h2>{{$service.title}}</h2>
                    <p>{{$service.content}}</p>
                </div>
<!--                <img src="http://sa.easywed.cn/dist/images/officialWebsite-v2.0/homepage/wed-planning-sign.png?1570212" alt="" class="recommend-img">-->
            </a>
        </li>
        {{/foreach}}

    </ul>
    <!-- main-modular -->
    <div class="main-modular case" id="mwt-case">
        <div class="modular-title clx">
            <h2>精彩案例</h2>
            <a href="/case.html" class="modular-link">更多</a>
        </div>
        <div class="modular-container">
            <ul class="case-lists clx">
                {{foreach $cases as $case}}
                <li class="case-cell">
                    <a href="{{\app\article::get_url($case.id)}}" target="_self">
                        <img src="{{$case.cover}}" alt="" class="cese-img">
                        <div class="case-sign">
                        </div>
                        <div class="case-mask">
                        </div>
                        <div class="case-text">
                            <div class="case-hover-box-two">
                                <p class="case-name">
                                    {{$case.title}}
                                </p>
                                <div class="case-desc-overflow desc-show">
                                    <p class="case-desc">
								<span class="case-desc-text">
                                    {{$case.intro|truncate:150:"...":true}}
								</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </a>
                </li>
                {{/foreach}}

            </ul>
        </div>
    </div>
    <div class="main-modular article" id="mwt-article">
        <div class="modular-title clx">
            <h2>公司动态</h2>
            <a href="/news.html" class="modular-link">更多</a>
        </div>
        <div class="modular-container">
            <ul class="article-lists clx">
                {{foreach $news as $new}}
                <li class="article-cell">
                    <a href="{{\app\article::get_url($new.id)}}" target="_self">
                        <img src="{{\app\article::get_cover($new.id)}}" alt="" class="article-img" width="235px" height="160px">
                        <div class="article-text">
                            <p class="article-title">
                                {{$new.title}}
                            </p>
                            <p class="article-desc">
                                {{$new.intro|truncate:150:"...":true}}
                            </p>
                        </div>
                    </a>
                </li>
                {{/foreach}}

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        autoplay : 3000,
        loop: true,
        speed: 2000,
        effect : 'fade',
        simulateTouch : false,
        paginationClickable :true,
        pagination: '.swiper-pagination',
        autoplayDisableOnInteraction : false,
        preloadImages: false,
        lazyLoading : true,
        lazyLoadingInPrevNext : true
    })
</script>
{{include_file name='public/footer'}}
