{{include_file name='public/header' title="公司动态"}}
<link rel="stylesheet" href="/static/css/news-list.css">

<div class="container">
    {{include_file name='public/position'}}
    <!-- 攻略推荐 -->


    <div class="main-modular article" id="mwt-article">

        <div class="modular-container">
            <ul class="article-lists clx">
                {{foreach $list as $info}}
                <li class="article-cell">
                    <a href="{{\app\article::get_url($info.id)}}" target="_self">
                        <img src="{{\app\article::get_cover($info.id)}}" alt="" class="article-img">
                        <div class="article-text">
                            <p class="article-title">{{$info.title}}</p>
                            <div class="article-sign clx">
                                <span>{{$info.source}}</span>
                            </div>
                            <p class="article-desc">
                                {{$info.intro}}
                            </p>
                        </div>
                    </a>
                </li>
                {{/foreach}}

            </ul>
        </div>
    </div>
</div>

<!-- footer -->

{{include_file name='public/footer'}}