{{include_file name='public/header' title="合作伙伴"}}
<style>
    .partner-title{
        text-align: center;
        font-family: PingFang-SC-Light;
        font-size: 38px;
        color: #343434;
        letter-spacing: 1.55px;
        text-align: center;
        padding: 120px 0 0;
    }
</style>

<link rel="stylesheet" href="{{STATIC_URL}}/css/partner.css">


    <!-- 主内容 -->
    <div class="amazing-content">

        <!--优秀合作-->
        <div id="cooperation">
            <p class="partner-title">
                100+明星优质合作伙伴
            </p>
            <div class="logos">
                <img src="/upload/logo_01.png" alt="">
            </div>

            <div class="logos">
                <img src="/upload/logo_02.png" alt="">
            </div>

            <div class="logos">
                <img src="/upload/logo_03.png" alt="">
            </div>
        </div>
        <!--公司动态-->

    </div>
    <!-- 400 -->
                                

    <!-- footer -->
{{include_file name='public/footer'}}