{{include_file name='public/header' title='项目主页'}}
{{$user_id = $project.user_id}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='project_sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目主页 {{if \app\user::is_creater({{$project.id}})}}<small class="hidden-xs">支持Ctrl+E键快速编辑</small>{{/if}}</h1>
                    <div class="opt-btn">
                        {{if \app\user::is_creater({{$project.id}})}}
                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-success js_editProjectBtn" data-toggle="tooltip" title="编辑项目" data-placement="bottom" data-id="{{$project.id}}">编辑</a>
<!--                        <a href="{{url("project/export")}}?id={{$project.id}}" class="btn hidden-xs btn-sm btn-info" data-toggle="tooltip" title="导出JSON" data-placement="bottom">备份</a>-->

                        {{/if}}
                        <a href="{{url("project/export")}}?id={{id_encode($project.id)}}" class="btn hidden-xs btn-sm btn-warning" data-toggle="tooltip" title="导出HTML" data-placement="bottom">导出</a>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{{url()}}?tab=base" data-spm-anchor-id="5176.200001.n2.1">项目主页</a></li>
                        <li><a href="{{url()}}?tab=member" data-spm-anchor-id="5176.200001.n2.2">项目成员</a></li>
                        <li><a href="{{url()}}?tab=history" data-spm-anchor-id="5176.200001.n2.3">项目动态</a></li>

                    </ul>

                    <div class="panel-body">
                        <p class="text-muted"><label>项目名称：</label>{{$project.title}}</p>
                        <p class="text-muted"><label>项目创建人：</label>{{_uri('user', $user_id, 'name')}}({{_uri('user', $user_id, 'email')}}）</p>
                        <p class="text-muted"><label>创建时间：</label>{{$project.add_time}}</p>
                        <p class="text-muted"><label>更新时间：</label>{{$project.update_time}}</p>

                        <p class="text-muted"><label>项目描述：</label><span style="word-break:break-all">{{$project.intro}}</span></p>
                        <p class="text-muted"><label>项目描述：</label>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>环境标识符</th>
                                    <th>标识符备注</th>
                                    <th>环境域名</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $envs as $env}}
                                <tr>
                                    <td>{{$env.name}}</td>
                                    <td>{{$env.title}}</td>
                                    <td><code>{{$env.domain}}</code></td>
                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>

                        </div>
                        </p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->




</div>
<!-- /#wrapper -->

<hr>
<p class="text-center">{{get_config('copyright')}}</p>

<script src="{{STATIC_URL}}/plugins/sortable/sortable.min.js"></script>

<script>
    $(function(){

        //control+se编辑
        document.onkeydown=function()   {
            if (event.ctrlKey == true && event.keyCode == 69) {//Ctrl+S
                event.returnvalue = false;
                $(".js_editProjectBtn").trigger('click');
            }

        };

        //移出项目
        $(".js_quitProjectBtn").click(function(event){
            // 阻止事件冒泡
            event.stopPropagation();

            var thisObj = $(this);

            var projectId = "{{$project.id}}";
            var userId    = thisObj.data('user_id');

            var url = "{{url('project/quit')}}";

            confirm('确认将该成员移出项目?', function(){

                $.post(url, { project_id:projectId,user_id:userId }, function(json){

                    if(json.code == 200){

                        alert(json.msg, 500, function () {
                            thisObj.closest('tr').remove();
                        });

                    }else{

                        alert(json.msg, 2000);

                    }

                }, 'json');
            });

        });

        // 修改项目
        $(document).delegate('.js_editProjectBtn', 'click',function(){
            var id = $(this).data('id');
            $('#page-wrapper').load("{{url('project/edit')}}", {'id':id});
        });

    });
</script>



{{include_file name='public/footer'}}